.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #e8e8e8;
    
}
.logout {
    width: 100px;
    color: #ffffff;
    background-color: #00BFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
   
    cursor: pointer;
    align-self: center;
  }
.logo{
    color:#00BFFF;
    font-size:24px;
    cursor:pointer;
    margin-top: 20px;
    
 }